.App {
  /* text-align: center; */
  background-image: linear-gradient(50deg, rgb(9,18,40) 0%, rgb(9,19,38) 25%, rgb(19,28,33) 35%, rgb(20,29,33) 65%, rgb(7,13,25) 75%, rgb(20,29,33) 100%);
  font-family: 'Raleway', sans-serif !important;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width:"800px") {
  ul {
    display: flex;
    flex-direction: column;
  }
}